<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: thirdapp page :::</title>
</head>
<body>
    <h3>thirdapp page 입니다.</h3>
    <hr/>
    <h3>장바구니관리</h3>
    <hr/>
    * 장바구니관리 : <a href="/third/cart_list/">[바로가기]</a>
    <br/>

    <hr/>
    <h3>상품분류 상세조회</h3>
    <hr/>
    * 검색 : <a href="/third/search_prod/">[바로가기]</a>
    <br/>

    <hr/>
    <h3>페이징 처리하기</h3>
    <hr/>
    * 페이징 처리 : <a href="/third/mem_list_page/">[바로가기]</a>
    <br/>

    <hr/>
    <h3>페이지 include 처리</h3>
    <hr/>
    * 페이지 include 처리 : <a href="/third/include_view/">[바로가기]</a>
    <br/>

    <hr/>
    <h3>페이지 extends 처리</h3>
    <hr/>
    * 페이지 extends 처리 : <a href="/third/extends_view/">[바로가기]</a>
    <br/>
</body>
</html>