<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 주문(장바구니)정보 상세정보 조회 :::</title>
    <script type="text/javascript">
        // 목록가기
        function goList(){
            //alert("목록");
            location.href = "/third/cart_list/";
        }
        // 수정폼으로 가기
        function goUpdateForm(cart_no, cart_prod){
            // 3 // alert(cart_no + " / " + cart_prod);
            // 수정하기를 눌렀을 때 pk를 계속 넘겨줘야 값이 없어지지 않는다.
            url = "/third/cart_update_form/?";//4 // get방식이어서 ?들어감
            url = url + "cart_no=" + cart_no;//5
            url = url + "&cart_prod=" + cart_prod
        
            location.href = url; //6
        }
        // 삭제하기
        function goDelete(cart_no, cart_prod){
            // alert(cart_no + " / " + cart_prod);
            // 삭제하기 버튼을 눌렀을 때 아래를 만들어줘야 처리가 넘어가짐
            url = "/third/cart_delete/?";
            url = url + "cart_no=" + cart_no;//5
            url = url + "&cart_prod=" + cart_prod
            //alert(url);
            location.href = url;
        }
    </script>
</head>
<body>
<!-- {{ cart_no }} / {{ cart_prod }} -->
    <h3>주문(장바구니)정보 상세조회</h3>
    <hr/>
    <p>* 주문번호 : {{ cart_view.cart_no }} </p>
    <p>* 회원아이디 : {{ cart_view.cart_member }} </p>
    <p>* 상품코드 : {{ cart_view.cart_prod }} </p>
    <p>* 주문수량 : {{ cart_view.cart_qty }} </p>
    <hr/>
    <br/>
    <!--get, post 방식 중 어떤 방식으로 할지 정하기--> 
    <button onclick="goList()">목록가기</button>
    <button onclick="goUpdateForm('{{cart_no}}', '{{cart_prod}}')">수정하기</button><!--2-->
    <button onclick="goDelete('{{cart_no}}', '{{cart_prod}}')">삭제하기</button>
</body>
</html>