<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: NonModelAPP - Index Page :::</title>
</head>
<body>
    <h3>::: NonModelAPP - Index Page :::</h3>
    <hr/>

    <a href="/">[인덱스 페이지로 가기]</a>
    <hr/>
    
    <h3>회원관리</h3>
    <hr/>
    * 회원전체조회 : <a href="/nonmodel/mem_list/">[바로가기]</a>
    <br/>

    <h3>장바구니관리</h3>
    <hr/>
    * 장바구니관리 : <a href="/nonmodel/cart_list/">[바로가기]</a>
    <br/>

    <h3>로그인관리</h3>
    <hr/>
    * 로그인 폼 : <a href="/nonmodel/login_form/">[바로가기]</a>
    <br/>
</body>
</html>