<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: NonModelAPP - Index Page :::</title>
</head>
<body>
    <h3>::: NonModelAPP - Index Page :::</h3>
    <hr/>

    <a href="/">[인덱스 페이지로 가기]</a>
    <hr/>
    
    <h3>회원관리</h3>
    <hr/>
    * 회원전체조회 : <a href="/nonmodel/mem_list/">[바로가기]</a>
    <br/>

    <h3>장바구니관리</h3>
    <hr/>
    * 장바구니관리 : <a href="/nonmodel/cart_list/">[바로가기]</a>
    <br/>

    <h3>로그인관리</h3>
    <hr/>
    * 로그인 폼 : <a href="/nonmodel/login_form/">[바로가기]</a>
    <br/>

    <h3>검색에 의한 상품상세조회 처리</h3>
    <hr/>
    * 검색에 의한 상품상세조회 처리 : <a href="/nonmodel/search_prod/">[바로가기]</a>
    <br/>

    <h3>이메일 발송 처리</h3>
    <hr/>
    * 이메일 발송 처리 : <a href="/nonmodel/email_form/">[바로가기]</a>
    <br/>

    <h3>페이징 처리</h3>
    <hr/>
    * 페이징 처리 : <a href="/nonmodel/cart_list_page/">[바로가기]</a>
    <br/>

    <h3>File Up/Download 처리</h3>
    <hr/>
    * File Up/Download 처리 : <a href="/nonmodel/file_insert_form/">[바로가기]</a>
    <br/>

    <h3>페이지 코드 포함(include) 처리</h3>
    <hr/>
    * 페이지 코드 포함(include) 처리 : <a href="/nonmodel/include_view/">[바로가기]</a>
    <br/>

    <h3>페이지 코드 포함(include) 처리</h3>
    <hr/>
    * 페이지 코드 포함(include) 처리 : <a href="/nonmodel/include_view2/">[바로가기]</a>
    <br/>

    <h3>페이지 실행결과 포함(extends) 처리</h3>
    <hr/>
    * 페이지 실행결과 포함(extends) 처리 : <a href="/nonmodel/extends_view/">[바로가기]</a>
    <br/>
    
    * 페이지 실행결과 포함(extends) - block_view1 처리 :
             <a href="/nonmodel/block_view1/">[바로가기]</a>
    <br/>

    * 페이지 실행결과 포함(extends) - block_mem_list 처리 :
             <a href="/nonmodel/block_mem_list/">[바로가기]</a>
    <br/>

    <h3>비동기 방식 페이지 처리(jquery-load)</h3>
    <hr/>
    * 비동기 방식 페이지 처리(jquery-load) 처리 : <a href="/nonmodel/load_view/">[바로가기]</a>
    <br/>

    <h3>[지도 시각화] 처리</h3>
    <hr/>
    * [지도 시각화] 처리 : <a href="/nonmodel/map_view/">[바로가기]</a>
    <br/>
    <h3>[데이터 시각화] 처리</h3>
    <hr/>
    * [데이터 시각화] 처리 : <a href="/nonmodel/data_view/">[바로가기]</a>
    <br/>
    <h3>[머신러닝 모델 연동] 처리</h3>
    <hr/>
    * [머신러닝 모델 연동] 처리 : <a href="/nonmodel/ml_view/">[바로가기]</a>
</body>
</html>