<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Oracle INDEX Page :::</title>
</head>
<body>
    <h3>Oracle Html Page 입니다.</h3>
    <hr/>

    <a href="/">[인덱스 페이지로 가기]</a>
    <hr/>
    
    <h3>회원관리</h3>
    <hr/>
    * 회원전체조회 : <a href="/oracle/mem_list/">[바로가기]</a>
    <br/>

    <h3>주문(장바구니)관리</h3>
    <hr/>
    * 주문(장바구니)전체조회 : <a href="/oracle/cart_list/">[바로가기]</a>
    <br/>
    <hr/>
    <h3>회원 및 주문(장바구니) 정보 Join 처리</h3>
    <hr/>
    * 회원 및 주문(장바구니)전체조회 :
                <a href="/oracle/mem_cart_list/">[바로가기]</a>
    <br/>

    <h3>상품 정보 처리</h3>
    <hr/>
    * 상품 전체조회 :
                <a href="/oracle/prod_list/">[바로가기]</a>
    <br/>
    <hr/>
    <h3>회원 + 주문정보 + 상품정보 조회</h3>
    <hr/>
    * 회원 + 주문정보 + 상품정보 조회 :
                <a href="/oracle/cart_mem_prod_list/">[바로가기]</a>
    <br/>
</body>
</html>
