{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::HTML - Link 처리2:::</title>
    <script type= "text/javascript">
        function linkView2(url){
            location.href = url;
        }
    </script>
</head>
<body>
    <h3>HTML - Link 처리2</h3>
    <hr/>
    <a href="javascript: linkView2('http://www.daum.net')">daum.net으로****</a>
    <a href="javascript: linkView2('http://www.naver.com')">naver.com으로</a>
    <a href="javascript: linkView2('http://www.google.com')">google.com으로</a>
    <a href="/front/01_html/">
        <img src = "/static/frontapp/images/img1.jpg" 
        width="100" height="80">
        <img src = "{% static 'frontapp/images/img1.jpg' %}" 
        width="200" height="180"
    </a>
    <a href="#">Link 처리 안 됨</a>


</body>
</html>

