<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::HTML -div 처리:::</title>
</head>
<style>
    div.d13 {
        background-color: lavender;
        color: lemonchiffon;
    }
    div.d24 {
        background-color: lightsteelblue;
        color: lavenderblush;
    }
    div {
        padding: 20px;
        margin: 20px;
    }
</style>
<body>
    <!-- 
        [div]
        - 블록 태그로 주로 사용됨
        - 영역을 설정할 뿐, 특별한 내부 텍스트 처리 기능은 없음
        - 보통 레이어 구성(화면 구성)시에 사용되는 경우가 있음
    -->
    <h3>HTML - div 처리</h3>
    <hr/>
    <div class="d13">
        <h5>div 블록 태그1</h5>
        <p>
            집에 가고 싶어요. <br/>
            3주 째 못 갔어요.. <br/>
            엄마 보고싶어요...
        </p>
    </div>
    <div class="d24">
        <h5>div 블록 태그2</h5>
        <p>
            그만 하고 싶어요. <br/>
            드러 눕고 싶어요.. <br/>
            침대 보고싶어요...
        </p>
    </div>
    <div class="d13">
        <h5>div 블록 태그3</h5>
        <p>
            공연 보고 싶어요. <br/>
            당장 가고 싶어요.. <br/>
            엔플 보고싶어요...
        </p>
    </div>
    <div  class="d24">
        <h5>div 블록 태그4</h5>
        <p>
            그만 하고 싶어요. <br/>
            드러 눕고 싶어요.. <br/>
            엄마 보고싶어요...
        </p>
    </div>
</body>
</html>