<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 06_selectBox :::</title>
    <script type="text/javascript">
        // select 한개 선택 조회
        function oneSelect() {
            fm = document.getElementById("fm");
            alert(fm.city_one.value);
        }
        // 다중 선택 조회
        function multiSelect() {
            fm = document.getElementById("fm");
            sel_all = "";
            for(i=0; i<fm.city_multi.options.length; i++){
                // 선택여부 확인하기
                if(fm.city_multi.options[i].selected == true){
                    sel_all += fm.city_multi.options[i].value + ",";
                }
            }
            sel_all = sel_all.slice(0, -1);
            alert(sel_all);
        }

        // 멀티 선택 초기화 함수
        function multiClear() {
            fm = document.getElementById("fm");
            //alert("gogo");
            for(i=0; i<fm.city_multi.options.length; i++){
                // 선택여부 확인하기
                if(fm.city_multi.options[i].selected == true){
                    fm.city_multi.options[i].selected = false;
                }
            }
        }

        // 기존 저장된 데이터가 있다고 가정할 때,
        // 저장 데이터에 맞는 값으로 selected 하기..
        function initOne(area){
            fm = document.getElementById("fm");
            //alert("gogo");
            for(i=0; i<fm.city_one.options.length; i++){
                // 저장 데이터와 같은 option 선택하기
                if(fm.city_one.options[i].value == area){
                    fm.city_one.options[i].selected = true;
                }
            }
        }

        // 기존 저장된 데이터가 있다고 가정할 때,
        // 저장 데이터에 맞는 값으로 멀티 selected 하기..
        function initMulti(areas){
            areas_list = areas.split(',');
            fm = document.getElementById("fm");
            
            for(i=0; i<fm.city_multi.options.length; i++){
                for(j=0; j<areas_list.length; j++) {
                    // 저장 데이터와 같은 option 선택하기
                    if(fm.city_multi.options[i].value == areas_list[j]){
                        fm.city_multi.options[i].selected = true;
                        break;
                    }
                }
            }
        }

    </script>
</head>
<!-- 최초에 페이지가 열릴때...자바스크립트 함수를 호출하여
     값들을 checked 또는 selected 하려면 어떻게?
     -> body 태그 내에 onload(자바스크립트 함수(), 여러개...) 함수를 사용하면,
        페이지가 열릴때 자바스크립트 함수를 호출하여 
        처리할 수 있습니다.  -->
<!-- onload에 initMulti() 함수 넣기 -> 함수 생성 -> 처리하기 -->
<body onload="initOne('{{ area }}'); initMulti('{{ areas }}');">
    <h3>06_selectBox</h3>
    <hr/>
<form id="fm" name="fm" method="post" action="/front/">
    {% csrf_token %}
    <!-- 
        [select box] : selected로 선택여부(true or false)를 확인 가능
         - option 데이터들은 options 속성에 리스트(배열) 형태로 
           저장되어 있습니다. 
         - 속성에 접근할 때는 name.속성 => city_one.options[]
     -->
    지역 한개 선택 : 
    <select name="city_one">
        <option value="서울">서울</option>
        <option value="경기">경기</option>
        <option value="광주">광주</option>
        <option value="부산">부산</option>
    </select>
    <!-- 선택된 한개의 값 alert()로 보여주기 -->
    <!-- 버튼 만들기 -> oneSelect()함수 호출 -> 선택된값 보여주기 -->
    <input type="button" value="한개 선택"
             onclick="oneSelect()">
    <hr/>

    <!-- 다중 선택하기 -->
    지역 여러개 선택 : <br/>
    <select name="city_multi"
            style="width: 100px; height: 50px;" multiple>
        <option value="서울">서울</option>
        <option value="경기">경기</option>
        <option value="광주">광주</option>
        <option value="부산">부산</option>
    </select>
    <!-- 선택된 여러개의 값 alert()로 보여주기 -->
    <!-- 버튼 만들기 -> multiSelect()함수 호출 -> 선택된값 보여주기 -->
    <input type="button" value="여러개 선택"
             onclick="multiSelect()">

    <!-- 멀티 선택에 대해서만 초기화 하기 -->
    <!-- 버튼 생성 -> multiClear()함수 생성 -> 처리하기 -->
    <input type="button" value="여러개 선택 초기화"
             onclick="multiClear()">
</form>
</body>
</html>