<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 주문(장바구니) 입력 폼 페이지 :::</title>
    <script type="text/javascript">
        // 취소하기 버튼 처리
        function goBack(){
            history.go(-1);
        }

        // 저장하기 - POST 방식
        function goInsertPost(){
            //alert("getgetget");
            //form 태그 정보 가지고 오기
            // - form태그가 감싸고 있는 내부 정보 모두 접근가능
            // - 정보 : name을 가지고 있는 값들을 의미
            fm = document.getElementById("fm");
            // alert(fm.cart_member.value);

            // 요청할 경로 지정
            // post방식인 이 방식으로 할때 fm.action에 경로를 설정해줬다면
            // form 태그안에 actiond은 # 처리를 해줘야함
            // 아니면 2번 실행되서 오류
            fm.action = "/nonmodel/cart_insert/";
            // 요청 경로로 전송 시키기
            fm.submit();

        }
        function goInsertGet(cart_no,cart_prod){
            // alert("today is friday !!!!");
            // 전송할 정보 추출하기
            fm = documnet.getElementById("fm");
             // 보내야하는 url
            cart_member = fm.cart_member.value;
            cart_prod   = fm.cart_prod.value;
            cart_qty    = fm.cart_qty.value;
            cart_no     = fm.cart_no.value;

            url = "/nonmodel/cart_insert/?";
            url = url + "cart_member=" + cart_member;
            url = url + "&cart_prod=" + cart_prod;
            url = url + "&cart_qty=" + cart_qty;
            url = url + "&cart_no=" + cart_no;
            
            location.href = url; 
            
        }
    </script>
</head>
<body>
    <h3>주문(장바구니) 입력 폼 페이지</h3>
    <hr/>
<!--<form id="fm" name="fm" method="get" action="/nonmodel/cart_insert/">--> 
<form id="fm" name="fm" method="post" action="#">
    {% csrf_token %}
    <p>* 아이디 : <!-- name은 헷갈리지 않도록 보통 컬럼명으로 써줌-->
            <input type="text" name="cart_member" 
                    value="a001" required>
    </p>
    <p>* 상품코드 :
            <input type="text" name="cart_prod" 
                    value="P201000019" required> 
    </p>
    <p>* 주문수량 :
            <input type="text" name="cart_qty" size="5" 
                    value="13" required>
    </p>
    <p>* 주문번호 : 
            <input type="text" name="cart_no" 
                    value="2005050500002" required>
    <!-- 주문번호의 끝을 +1 씩만 증가시켜주면 된다. -->
    </p>
    <hr/>
    <!-- 저장버튼 -->
    <input type="submit" value="저장하기(SUBMIT)">
    <br/>
    <input type="button" value="저장하기(BUTTON-POST)" onclick="goInsertPost()">
    <br/>
    <input type="button" value="저장하기(BUTTON-GET)" onclick="goInsertGet('{{fm.cart_no}}','{{fm.cart_prod}}')">
    <br/>

    <!-- 취소버튼(왼쪽) -->
    <input type="button" value="취소하기" onclick="goBack()">
</form>
</body>
</html>