<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 상품정보 - 상세 조회하기 :::</title>
    <script type="text/javascript">
        function goList(){
            // alert("목록");
            location.href = "/oracle/prod_list/"
        }
        function goProdUpdateForm(prod_id){
            url = "?prod_id="+prod_id;
            location.href = "/oracle/prod_update_form/"+url;
        }
        function goDelete(){
            alert("삭제");
        }
    </script>
</head>
<body>
    <h3>상품정보 - 상세 조회하기</h3>
    <hr/>
    <p>* 상품코드 :{{prod_view.prod_id}}</p>
    <p>* 상품명 :{{prod_view.prod_name}}</p>
    <p>* 상품분류코드 :{{prod_view.prod_lgu}}</p>
    <p>* 상품거래처(공급업체)코드 :{{prod_view.prod_buyer}}</p>
    <p>* 매입가(금액) :{{prod_view.prod_cost}}</p>
    <p>* 소비자가(금액) :{{prod_view.prod_price}}</p>
    <p>* 판매가(금액) :{{prod_view.prod_sale}}</p>
    <hr/>
    <br/>

    <button onclick="goList()">목록</button>
    <button onclick="goProdUpdateForm('{{prod_view.prod_id}}')">수정</button>
    <button onclick="goDelete()">삭제</button>
</body>
</html>