<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Front INDEX Page :::</title>
</head>
<body>
    <h3>Front Html Page 입니다.</h3>
    <hr/>
    <p>
        HTML 코드 잘 실행됩니다.
    </p>
    <hr/>

    <a href="/">[인덱스 페이지로 가기]</a>

    <hr/>
    <!-- 01_Image테스트 .... [바로가기] 링크 생성하기 -->
    01_Image테스트 : <a href="/front/image/">[바로가기]</a>
    <br/>
    <!-- 02_css1테스트 .... [바로가기] 링크 생성하기 -->
    02_css1테스트 : <a href="/front/css_1/">[바로가기]</a>
    <br/>
    <!-- 02_css2테스트 .... [바로가기] 링크 생성하기 -->
    02_css2테스트 : <a href="/front/css_2/">[바로가기]</a>
    <br/>
    <!-- 02_css3테스트 .... [바로가기] 링크 생성하기 -->
    02_css3테스트 : <a href="/front/css_3/">[바로가기]</a>
    <br/>
    <!-- 01_javascript1테스트 .... [바로가기] 링크 생성하기 -->
    01_javascript1테스트 : <a href="/front/javascript1/">[바로가기]</a>
    <br/>
    <!-- 01_javascript2테스트 .... [바로가기] 링크 생성하기 -->
    01_javascript2테스트 : <a href="/front/javascript2/">[바로가기]</a>
    <br/>
    <!-- 01_html테스트 .... [바로가기] 링크 생성하기 -->
    01_html테스트 : <a href="/front/01_html/">[바로가기]</a>
    <br/>
    <!-- 01_link테스트 .... [바로가기] 링크 생성하기 -->
    01_link테스트 : <a href="/front/02_link/">[바로가기]</a>
    <br/>
    <!-- 04_css테스트 .... [바로가기] 링크 생성하기 -->
    04_css테스트 : <a href="/front/04_css/">[바로가기]</a>
    <br/>
    <!-- 05_table테스트 .... [바로가기] 링크 생성하기 -->
    05_table테스트 : <a href="/front/05_table/">[바로가기]</a>
    <br/>
    <!-- 06_table테스트 .... [바로가기] 링크 생성하기 -->
    06_table테스트 : <a href="/front/06_table/">[바로가기]</a>
    <br/>
    <!-- 07_ul테스트 .... [바로가기] 링크 생성하기 -->
    07_ul테스트 : <a href="/front/07_ul/">[바로가기]</a>
    <br/>
    <!-- 08_div테스트 .... [바로가기] 링크 생성하기 -->
    08_div테스트 : <a href="/front/08_div/">[바로가기]</a>
    <br/>
    <!-- 09_div테스트 .... [바로가기] 링크 생성하기 -->
    09_div테스트 : <a href="/front/09_div/">[바로가기]</a>
    <br/>
    <!-- 10_iframe테스트 .... [바로가기] 링크 생성하기 -->
    10_iframe테스트 : <a href="/front/10_iframe/">[바로가기]</a>
    <br/>
    <!-- 01_cssTable .... [바로가기] 링크 생성하기 -->
    01_cssTable테스트 : <a href="/front/01_cssTable/">[바로가기]</a>
</body>
</html>