<!DOCTYPE html>
<html>
<!--HTML 문서의 정보가 최초에 읽히는 영역
- 문서 제목(title): 브라우저 탭 이름과 동일함
- css, javascript, 메타 정보 등이 정의되는 부분
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::Main Index Page:::</title>
</head>
<!--브라우저에 보여지는 모든 것
- css, javascript 정의도 가능
-->
<body>
    <!--제목 태그-->
    <h1>:::Index Page h1:::</h1>
    <h2>:::Index Page h2:::</h2>
    <h3>:::Index Page h3:::</h3>
    <h4>:::Index Page h4:::</h4>
    <h5>:::Index Page h5:::</h5>
    <!-- 주석 -->
    <!--선 긋기-->
    <hr/>

    <!--페이지 이동: 링크 처리
        url: http://127.0.0.1:8000/first/
        root 경로: 
    -->
    FisrtApp: <a href="/first/">[바로 가기]</a>
    <br/>
    SecondApp: <a href="/second/">[바로 가기]</a>
    <br>
    MainApp: <a href="/main/main/">[바로 가기]</a>
    <br>
    FrontApp: <a href="/front/">[바로 가기]</a>
</body>
</html>