    <style>
        /* 본문 영역 스타일 적용 : section */
        #section1 {
            background-color: blueviolet;
            color: white;
            padding: 10px;
            /**/
            float: left;
            width: 50%;
        }
        #section2 {
            background-color: cadetblue;
            color: white;
            padding: 10px;
            float: left;
            width: 40%;
        }   
    </style>
    <!-- 본문 내용 -->
    <div id="section1">
        <h3>공지사항</h3>
        <ul>
            <li>[필독] 금일 공지사항</li>
            <li>[필독] 금일 공지사항</li>
            <li>[필독] 금일 공지사항</li>
            <li>[필독] 금일 공지사항</li>
            <li>[필독] 금일 공지사항</li>
        </ul>
    </div>
    <div id="section2">
        <h3>질문/답변</h3>
        <ul>
            <li>[필독] 금일 질문</li>
            <li>[필독] 금일 질문</li>
            <li>[필독] 금일 질문</li>
            <li>[필독] 금일 공지사항</li>
            <li>[필독] 금일 공지사항</li>
        </ul>
    </div>
