<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 주문(장바구니)정보 전체 목록 :::</title>
    <script type="text/javascript">
        // 상세보기 처리하기
                 // 매개변수 순서대로 받기
        function goView(cart_no, cart_prod){

            //alert("gogo");
            //alert(cart_no);
            //alert(cart_prod);
            url = "/oracle/mem_cart_view/?";
            url = url + "cart_no="+cart_no;
            url = url + "&cart_prod="+cart_prod;
            //alert(url);
            location.href = url;
        }

        // 회원 상세 조회하기
        function goMemView(mem_id){
            location.href = "/oracle/memview/?mem_id="+mem_id;
        }
    </script>
</head>
<body>
    <h3>주문(장바구니)정보 전체 목록</h3>
    <hr/>
    <table border="1">
        <!-- 첫번째 tr영역에는 컬럼명이 들어갑니다. -->
        <tr>
            <th>주문번호</th>
            <th>회원아이디</th>
            <th>회원이름</th>
            <!--<th>상품코드</th>
            <th>주문수량</th>-->
        </tr>
        <!-- 두번째 tr영역부터는 각 컬럼에 맞는 데이터 넣기 -->
        {% for d in cart_list %}
            <tr>                              <!-- pk값이 2개이므로 2를 선언 -->
                <td><a href="javascript:goView('{{d.cart_no}}','{{d.cart_prod}}');">
                        {{ d.cart_no }}</a></td> <!-- 딕셔너리 안에서 cart_no 키를 줄테니 값을 다오-->
                <td><a href="javascript:goMemView();">
                        {{ d.cart_member.mem_id }}</a></td> 
                <td>{{ d.cart_member.mem_name }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>