<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 회원 + 주문정보 + 상품정보 조회 :::</title>
    <script type="text/javascript">
        function goView(){
            url = "/oracle/cart_mem_prod_view/?"
            url = url + "cart_no"
        }
    </script>
    
</head>
<body>
    <h3>회원 + 주문정보 + 상품정보 조회</h3>
    <hr/>
    <table border="1">
        <tr>
            <th>회원이름</th>
            <th>상품명</th>
            <th>주문번호</th>
            <th>주문수량</th>
        </tr>
        {% for data in cart_mem_prod_list %}
            <tr>
                <td>{{data.mem_name}}</td>
                <td>{{data.prod_name}}</td>
                <td>{{data.cart_prod}}</td>
                <td>{{data.cart_qty}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>