{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 회원관리 - 전체조회 :::</title>
<!-- bootstrap.min.css 적용하기 -->
    <link href="{% static 'thirdapp/bootstrap/css/bootstrap.min.css' %}" 
            rel="stylesheet">

    <!-- jQuery 적용하기 -->
    <script type="text/javascript"
            src="{% static 'thirdapp/js/jquery-3.6.4.min.js' %}">
    </script>
    <script type="text/javascript">
        // 회원 상세페이지 가기
        function goView(mem_id){
            // alert(mem_id);
            url = "/third/mem_view/?";
            url = url + "mem_id="+mem_id;
            // alert(url);
            // get방식으로 전송시에는 location.href 사용
            location.href = url;
        }
    </script>
</head>
<body>
<div class="container text-center" style="width:100">
    <h3>회원관리 - 전체조회</h3>
<div>
    <hr/>
<div class="container" style="width:100%"></div>
<div calss="container text-center" style="width:100%">
    <table class="table">
        <tr>
            <th>아이디</th>
            <th>패스워드</th>
            <th>이름</th>
            <th>주소1</th>
        </tr>
    {% for mem in mem_list %}
        <tr>
            <td>{{ mem.mem_id }}</td>
            <td>{{ mem.mem_pass }}</td>
            <td><a href="javascript:goView('{{ mem.mem_id }}');">
                    {{ mem.mem_name }}</a></td>
            <td>{{ mem.mem_add1 }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<!-- 페이징 처리하기 -->
<div class="container text-center" style="width:100%">
    <div calss="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination"
                    style="justify-content: center;">

                    <!-- 이전 페이지 처리 영역 -->
                    {% if is_prev %}
                        <li class="page-item">
                            <a class="page-link"
                            href="/third/mem_list_page/?page={{start_page | add:"-10"}}" 
                            aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <!-- 페이지 번호 처리 영역 (1~10까지 보여주기) -->
                    {% for i in page_range %}
                        <li class="page-item">
                            {% if i == now_page %}
                                <strong>
                                    <a class="page-link" href="#"
                                        style="color:black;">{{ i }}</a>
                                </strong>
                            {% else %}
                                <a class="page-link"
                                href="/third/mem_list_page/?page={{i}}">{{i}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <!-- 다음 페이지 처리 영역 -->
                    {% if is_next %}
                        <li class="page-item">
                            <a class="page-link" 
                            href="/third/mem_list_page/?page={{ start_page | add:"10"}}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>     
<!-- Bootstrap bootstrap.bundle.min.js 적용하기 -->
<script type="text/javascript"
        src="{% static 'thirdapp/bootstrap/js/bootstrap.bundle.min.js' %}">
</script>
</body>
</html>