<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 테이블 행단위 색 입히기 :::</title>
    <style>
        table {
            /*  한줄 선그리기 */
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        /* tr태그 영역에 마우스가 올라갔을 때 스타일을 지정하는 방식 */
        tr:hover {
            background-color: fuchsia;
        }
    </style>
</head>
<body>
    <h3>테이블 행단위 색 입히기</h3>
    <hr/>
    <!--01_table.html에서
- 제목 포함 5행 3열의 테이블 생성
- 각열의 제목 : 번호, 이름, 주소
- 데이터는 임의로 넣어주세요-->
    <table border="1">
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>주소</th>
        </tr>
        <tr>
            <td>1</td>
            <td>김미소</td>
            <td>전주 삼천동</td>
        </tr>
        <tr>
            <td>2</td>
            <td>김수빈</td>
            <td>서울 광진구</td>
        </tr>
        <tr>
            <td>2</td>
            <td>김수정</td>
            <td>서울 성동구</td>
        </tr>
    </table>
</body>
</html>