<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 테이블 행단위 색 입히기 :::</title>
    <style>
        table {
            /* 한줄 선그리기 */
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        /* tr태그 영역에 마우스가 올라갔을때 스타일을 지정하는 방식 */
        tr:hover {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h3>테이블 행단위 색 입히기</h3>
    <hr/>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>주소</th>
        </tr>
        <tr>
            <td>1</td>
            <td>홍길동</td>
            <td>광주광역시 소촌종 1-1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>홍길동2</td>
            <td>광주광역시 소촌종 1-2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>홍길동3</td>
            <td>광주광역시 소촌종 1-3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>홍길동4</td>
            <td>광주광역시 소촌종 1-4</td>
        </tr>
    </table>
</body>
</html>