<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 테이블 행단위 색 입히기 :::</title>
</head>
<body>
{{ co_list }}
    <h3>테이블 문제 1,2</h3>
    <hr/>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>addr</th>
        </tr>
        {% for d in co_list %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.addr}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>