<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::회원 관리 - 수정 폼(form):::</title>
    <script type = "text/javascript">
        // 목록 가기
        function goList(){
            // alert('목록');
            // history.go(-1);
            location.href = "/oracle/mem_list/";
        }
        // 수정 폼으로 가기
        function goUpdateForm(){
            // alert('수정');
            location.href = "/oracle/mem_update_form/";
        }
        // 삭제하기
        function goDelete(){
            alert('삭제')
        }

        // 취소 버튼 처리(뒤로 가기)
        function goBack(){
            history.go(-1)
        }
    </script>
</head>
<body>
<form id="fm" name="fm" method="post" action="/oracle/mem_update/">
    {% csrf_token %}
    <input type="hidden" name="mem_id" value="{{mem_id}}">

    <h3>수정 폼(form)</h3>
    <hr/>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>주소1</th>
        </tr>
        <tr>
            <td>{{ mem_view.mem_id }}</td>
            <td>
                <input type = "password" name="mem_pass"
                value="{{ mem_view.mem_pass }}" size="10"
                required>
            </td>
            <td>{{ mem_view.mem_name }}</td>
            <td>
                <input type="text" name="mem_add1"
                value="{{ mem_view.mem_add1 }}" size="15"
                required>
            </td>
        </tr>
    </table>
    <hr/>
    <!-- 저장하기 버튼 추가: goUpdate() -->
    <input type="submit" value="저장">
    <!-- 취소하기 버튼 추가: goBack() -->
    <input type="button" value="취소" onclick="goBack()">

</body>
</html>