<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 페이징 처리하기 extends :::</title>
</head>
<body>
    <h3>페이징 처리하기 (extends)</h3>
    <hr/>
    <!-- 메뉴 화면 -->
    {% block menu_view %}
    {% endblock %}

    <!-- 본문 화면 -->
    {% block body_view %}
    {% endblock %}

    <!-- 하단 화면 -->
    {% block footer_view %}
    {% endblock %}

</body>
</html>